@import 'sass/global';


// NAV 

.container-nav {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  height: 8vh;
  overflow-y: hidden;
  position: absolute;
  top: 0;

}

nav {
  display: flex;
  padding-top: 2vh;

  .logo-container {
    overflow-y: hidden;

    .logoHeader {
      width: 160px;
    }

  }

  .menu-container {
    overflow-y: hidden;

    .menuNav {
      width: 40px;
      margin-right: 20px;
      cursor: pointer;
    }

    img {
      width: 20%;
    }

    div {
      text-transform: uppercase;
      font-size: 13px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);

  .closeNav {
    font-size: 30px;
    font-weight: 800;
    color: black;
  }

  img {
    width: 200px;
  }

  .lapuertaLogoToggle {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50px;
    }
  }

  @media only screen and (max-width: 426px) {
    .lapuertaLogoToggle {
      img {
        width: 50px;
      }
    }

    .xIconoToggle {
      padding-right: 20px !important;

      i {
        font-size: 30px;
      }
    }
  }


  .xIconoToggle {
    padding-right: 50px;
  }

  button {
    align-self: flex-end;
    outline: none;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 13px;
    color: rgb(0, 0, 0);

    &:hover {
      cursor: pointer;
    }
  }

  .ulFirst {
    text-align: center;

    a {
      font-family: 'Avenir';
      font-size: 32px;
      font-weight: 400;
      color: #2B2B2B66;
    }

    a:hover {
      color: black;
    }

    li:first-child {
      color: black;
    }
  }

  @media only screen and (max-width: 768px) {
    .ulFirst {
      a {
        font-size: $font-p-mobile;
      }
    }
  }

  ul {
    list-style: none;

    li:first-child {
      font-weight: 900;

    }

    li {
      overflow-y: hidden;
      user-select: none;
      line-height: 1.5;

      div {
        font-size: 20px;
      }

      a {
        font-family: "Alegreya Sans", sans-serif;
        font-weight: 400;
      }

    }
  }

}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;

  img {
    height: 700px;
    pointer-events: none;
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    .logo-container {
      .logoHeader {
        width: 100px;
      }
    }

    .menu-container {
      .menuNav {
        width: 30px;
      }
    }
  }
}

// FIN NAV


// -------------------------------


/* FOOTER */

footer {
  border-top: 1px solid #D7D7D7;
  padding-top: 10vh;
  margin-top: 18vh;
  margin-bottom: 2vh;
  margin-left: 80px;
  margin-right: 80px;

  .row {
    height: 20vh;
  }

  .tituloFooter {
    font-weight: 900;
    font-size: 24px;
  }
}


.logoFooter {
  width: 25%;
  object-fit: contain;
  margin-left: 20px;
}

.logoWaves {
  width: 26%;
  object-fit: contain;
  margin-right: 20px;
}

.endFooter {
  display: flex;
  height: 8vh;
  margin-left: 20px;

  div {
    gap: 50px;
  }
}


/* MOVIL */


@media (max-width:1359px) {
  footer {
    margin-left: 0px;
    margin-right: 0px;
  }

  .footerDesktop {
    display: none;
  }

  .footerMobile {
    display: block;
    min-height: 30vh;
    text-align: center;

    div:nth-child(1) {
      gap: 20px;
    }

    img {
      width: 60px;
      margin-left: 0px;
    }

    p {
      font-size: $font-p-mobile;
      font-weight: 900;
    }

    a {
      font-size: $font-p-mobile;
    }
  }
}

@media only screen and (min-width: 1360px) {
  .footerDesktop {
    display: block;

  }

  .footerMobile {
    display: none;
  }
}


/* FIN FOOTER */


// STUDIO EXPERIENCE


.bannerStudioExperience {
  width: 100%;
  height: 100vh;
}

.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}


div {
  .sectionOneHome {
    margin-top: 30px;
    margin-left: $marginBody;
    margin-right: $marginBody;
  }

  .sectionOne {
    margin-top: 100px;
    margin-left: $marginBody;
    margin-right: $marginBody;

    .sectionOneImg {
      height: 50vh;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    h2 {

      font-weight: 800;
    }

    p {
      font-size: $font-p;
    }

    .contactanosEstudio {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    .point {
      display: none;

      img {
        width: 20px;
      }
    }

    .divbotonContactanos {
      display: none;
    }

    .buttonSerHome a {
      font-size: 20px;
    }
  }

}

@media only screen and (max-width:1024px) {
  div {
    .sectionOne {
      margin-left: $marginBodyMobile;
      margin-right: $marginBodyMobile;

      .sectionOneImg {
        display: none;
      }
    }
  }
}

// SECCION SMOOTH

@media only screen and (max-width:1024px) {
  .imgNota {
    width: $SizeNotaMobile !important;
  }
}

.smoothSize{
  height: 649px;
  width: 575px;
}

.global{
  height: 649px;
  width: 575px;
}


@media only screen and (max-width:1536px) {
  .smoothSize{
    height: 544px;
    width: 475px;
  }
  .global{
    height: 544px;
    width: 475px;
  }
}

.imgNota {
  width: $SizeNota;
}

.ocultarScroll {
  display: block;
}


.contactanosEstudioSmooth {
  display: block;
  margin-top: 40px !important;
  margin-bottom: 10px;
}

.containerNuestroEspacio {
  margin-top: 200px !important;
  margin-left: $marginBody;
  margin-right: $marginBody;

  .imgNota {
    width: $SizeNota;
  }
}

.blockText {
  h2 {
    font-size: 28px;
  }
}

@media only screen and (max-width:1024px) {

  .ocultarScroll {
    display: none;
  }

  .ocultarScrollBoutique {
    display: block;
  }

  .containerNuestroEspacio {
    margin-left: $marginBodyMobile;
    margin-right: $marginBodyMobile;
    margin-top: 50px !important;

    .imgNota {
      width: 10px;
    }
  }

  .contactanosEstudioSmooth {
    display: none;
  }

  .blockText {
    h2 {
      font-size: 16px;
    }
  }
}

// FIN SECCION SMOOTH



.marginBox {
  margin-left: 80px;
  margin-right: 80px;
}

.ListaCompletaMobile {
  display: none;
}

.ListadoEstudio {
  display: none;
}

.EstudioEND {
  margin-top: 200px !important;
  margin-bottom: 200px;
  margin-left: $marginBody;
  margin-right: $marginBody;

  .imageStudioExperience {
    display: none;
  }

  .imgNota {
    width: $SizeNota;
  }

  .segundoh2 {
    font-size: $font-h2;
  }

  img:nth-child(1) {
    max-width: 550px;
    height: 550px;
    object-fit: cover;
  }

  div:nth-child(2) {
    p {
      display: none;
    }
  }

  p:nth-child(3) {
    font-size: 16px;
    color: #838383;
  }

  .divbotonContactanos {
    display: none;
  }

}

@media only screen and (max-width:1024px) {
  .EstudioEND {
    margin-top: 50px !important;
    margin-left: $marginBodyMobile;
    margin-right: $marginBodyMobile;

    div:nth-child(1) {
      margin-bottom: 24px !important;
    }

    .imgNota {
      width: 10px;
    }

    .segundoh2 {
      display: none;
    }

    .divbotonContactanos {
      display: none !important;
    }

    .imageStudioExperience {
      width: 100%;
      height: 20vh;
      background-repeat: no-repeat;
      object-fit: contain;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
    }

    .botonSaberMas2 {
      display: block;
      background-color: #22222280;
      color: white;
      font-weight: 800;
      padding: 10px 20px 10px 20px;
      text-align: center;
    }


    .botonSaberMas2:hover {
      color: white;
      background-color: #00000080;
    }

    .descargarPDFestudio {
      color: white;
    }

    div:nth-child(1) {
      margin-bottom: 50px;
    }

    div:nth-child(3) {
      display: none;
    }

    div:nth-child(2) {
      p {
        display: block;
      }

      p:nth-child(2) {
        color: #838383;
        margin-top: 10px;
        margin-bottom: 40px;
      }
    }

    div:nth-child(5) {
      display: none;
    }

    .divbotonContactanos {
      display: block;
      margin-top: 25px;
      margin-bottom: 25px;

      .boton {
        width: 120px;
        height: 30px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px #222222 solid;
        background-color: #222222;
        font-weight: 800;
        color: white;
      }
    }
  }

  .ListaCompletaMobile {
    display: block;
    height: 20vh;
    margin-top: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;

    a {
      color: white;
    }
  }

  .botonListaCompletaMobile {
    background: #22222280;
    padding: 10px 20px 10px 20px;
  }

  .ListadoEstudio {
    display: block;
    margin-top: 5vh !important;
  }
}


// MOVIL Y TABLET

@media only screen and (max-width:1024px) {
  div {
    .sectionOne {
      .point {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;

        img {
          width: 10px;
        }
      }

      .divbotonContactanos {
        display: block;
        margin-top: 25px;
        margin-bottom: 25px;

        .boton {
          width: 120px;
          height: 30px;
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px #222222 solid;
          background-color: #222222;
          font-weight: 800;
          color: white;
        }
      }

      .contactanosEstudio {
        display: none;
      }

    }
  }

}


// FIN STUDIO EXPERIENCE



// STUDIO BOUTIQUE

.bannerStudioBoutique {
  width: 100%;
  height: 100vh;
}


// FIN STUDIO BOUTIQUE



// SCROLL STICKY


div {
  .plantilla {
    .plantillaImg {
      height: 50vh;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    h2 {

      font-weight: 800;
    }

    p {
      font-size: $font-p;
    }

    .point {
      display: none;

      img {
        width: 20px;
      }
    }
  }

}

@media only screen and (max-width:1024px) {
  div {
    .plantilla {
      .plantillaImg {
        height: auto;
      }
    }
  }

  .cardContainer {
    .cardStudio {
      margin-top: 15vh;
      margin-bottom: 15vh;
      top: 200px !important;
      height: 350px !important;
    }
  }
}

.cardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardStudio {
  margin-top: 20vh;
  margin-bottom: 20vh;
  width: 90%;
  height: 900px !important;
  position: sticky !important;
  top: 120px !important;
}

.cardStudio1 {
  background: rgb(255, 255, 255) !important;
}

.cardStudio2 {
  background: rgb(255, 255, 255) !important;
}

.cardStudio3 {
  background: rgb(255, 255, 255) !important;
}

.cardStudio4 {
  background: rgb(253, 253, 253) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px !important;
}

// FIN SCROLL STICKY

.bannerAboutUs {
  margin-top: 12vh !important;
  background: url('/imgAboutus/banneraboutus.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

}

.leermas {
  margin-top: 20px;
  font-weight: 900;
}

// ABOUT US

.plantillaMobileIMGboton {
  display: none;
}

.familiaMobile {
  display: none;
}



@media only screen and (max-width:1024px) {

  .familia {
    display: none !important;
  }

  .familiaMobile {
    display: block;
  }

  .plantillaMobileIMGboton {
    width: 100%;
    height: 20vh;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .plantillaMobileIMGenlace {
      background-color: #222222B2;
      color: white;
      padding: 10px 20px 10px 20px;
    }
  }

  .sectionOne {

    .buttonMaps {
      display: none !important;
    }

    .textoGoogleMaps {
      font-weight: bold;
    }

  }


}

// FIN ABOUT US


// CONTACTUS

.ContactUS {
  height: 100vh;

  .linksContactUSmobile {
    display: none;
  }

  .linksContactUS {
    display: block;
  }
}

@media only screen and (max-width:1024px) {
  .ContactUS {
    .linksContactUSmobile {
      margin-top: 5vh;
      display: block;
    }

    .linksContactUS {
      display: none !important;
    }
  }
}

// FIN CONTACTUS


// BOOK

input {
  background: white;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-radius: 0px;
}

input:focus {
  outline: none;
  border-color: rgb(107, 107, 107) !important;
  box-shadow: none !important;
}

input:hover {
  border-bottom: 2px solid rgb(107, 107, 107);
}


.botonForm {
  background: rgb(0, 0, 0);
  border: 2px solid black;
  color: white;
  padding: 10px;
}

select {
  background: white;
  border-bottom: 2px solid black;
  border-radius: 0px;
}

.check {
  border-bottom: 2px solid black;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

textarea {
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid black;
  border-radius: 0px;
}

.custom-checkbox {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.custom-checkbox:checked {
  background: black;
}

.divNombreEmail {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width:1024px) {
  .divNombreEmail {
    display: block;

    div:nth-child(2) {
      margin-top: 48px;
    }
  }

  label {
    font-size: 16px !important;
  }

  input {
    font-size: 13px;
  }

  h4 {
    font-size: 16px !important;
  }

}


// FIN BOOK


// EMAIL

.email {
  height: 50vh;

  .mailto {
    border-bottom: 1px solid black;
    padding-left: 0px;
    margin-left: 12px;
  }

}


// FIN EMAIL


// CALL

.call {
  height: 100vh;

  .tel {
    border-bottom: 1px solid black;
  }
}


@media only screen and (max-width:1024px) {
  .call {
    div:nth-child(2) {
      margin-top: 10px;
    }

    .tel {
      margin-top: 15px !important;
    }
  }
}

// FIN CALL


// ENCUENTRANOS

.buttonMapsEncuentranos {
  border-bottom: 1px solid black;
  margin-left: 12px;
  padding: 0px !important;
  display: flex;
  justify-content: space-between;
  margin-top: 50px !important;
}

// FIN ENCUENTRANOS 


// RELOJ

.reloj-analogico {
    display: flex;
    justify-content: center;
    align-items: center;
}

.esfera {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  height: 100px;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  transform: rotate(-90deg);
}

.subEsfera {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
}

.manecilla {
  position: absolute;
  height: 2px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
}

.hora {
  top:50%;
  left: 48%;
  width: 30%;
  height: 4px;
  background-color: white;
}

.minuto {
  top:50%;
  left: 52%;
  width: 40%;
  height: 3px;

}

.segundo {
  top:50%;
  left: 50%;
  background-color: rgb(116, 116, 116);
  width: 45%;
}

.centro {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(116, 116, 116);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// FIN RELOJ